modules = ["python-3.11"]

[[ports]]
localPort = 8000
externalPort = 80

[[ports]]
localPort = 8001
externalPort = 3000

[[ports]]
localPort = 8002
externalPort = 3001

[[ports]]
localPort = 8080
externalPort = 8080

[nix]
